<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <meta charset="utf-8">
    <title>Workouts</title>
  </head>
  <body>
    <div class="main">
      <div class="banner">
        <h1 id="title">Workouts</h1>
        {%if 'username' not in session %}
        <a id="login" href="{{url_for('showLogin')}}">Login</a>
        {% else %}
        <a id="login" href="{{url_for('disconnect')}}">Disconnect</a>
        {% endif %}
      </div>
      <div class="bodyContainer">
        <div class="sideBanner">
          <ul>
            <h2 id="sideBannerHeader">Muscles</h2>
            {% for i in muscles %}
            <a href="{{url_for('view_exercises', muscle_name = i.name)}}">{{ i.name }}</a>
            </br>
            {% endfor %}
          </ul>
        </div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis eros a orci aliquet elementum. Duis sed lorem nulla. Donec vulputate egestas nisl, quis tincidunt turpis. Ut quis enim pretium, cursus justo ac, pretium magna. Sed feugiat ipsum sollicitudin arcu euismod, in faucibus lacus luctus. In commodo efficitur ligula et pulvinar. Vivamus dictum consectetur lacus eget euismod. Nulla vestibulum quis quam in elementum. Morbi mollis tortor ac velit bibendum sagittis. Phasellus arcu lorem, fermentum at massa quis, suscipit placerat enim. Praesent condimentum vitae nibh at mattis. Mauris imperdiet quis sapien vel suscipit. Vivamus convallis turpis sit amet orci euismod, convallis tempor massa congue.</p>
        </div>
      </div>

    </div>
  </body>
</html>
